<h1 class="profile-title">Bing-Ru Wu</h1>
<div class="profile-subtitle">
Taiwan &middot; <a href="mailto:killuaken@gmail.com">killuaken@gmail.com</a>
</div>
<div class="profile-content">
  <p>
  Hi! I am Bing-Ru. I am a full-time software engineer in Android / Linux performance analysis and exploration, including benchmark deep-dive and sometimes hardware architecture research.
  </p>
  
  {#
  <p>
  This site shares the record of my journey toward new stuff. On this site, I would share mostly about programming, yet it might not be always neat. Though one might may find code pieces here and there, hope there still might be something that helps inspiration sparkling.
  </p>
  #}
  
  <p>
  Besides my career in programming, I am a cooking hobbyist. During weekend I love to try on new dishes, ranging from Italian spaghetti to Japanese udon. Though there is still a far gap to Jamie Oliver, hopefully they might someday evolves to cuisine. :)
  </p>
  
  <p>
  Other than that, I am a enthusiast in electronic gadgets and video gamer. Personally I would not recognize myself a professional gamer, but I have experience in saving Hyrule, building waste land of Rimuldar, and surviving the catastrophe as a Witcher. Shall there be any quest, new alliance and friends are always welcome!
  </p>
  
  <p>
  Last but not least, if there is anything useful on this site, feel free to download it from my github. If there shall be any further discussion, one can check the resume page or contact me via e-mail.
  </p>
  
</div>
