<h1 class="profile-title">吳秉儒</h1>
<div class="profile-subtitle">
Taiwan &middot; <a href="mailto:killuaken@gmail.com">killuaken@gmail.com</a>
</div>
<div class="profile-content">
  <p>
  Hi! 我是秉儒. 我目前的工作是 Android / Linux 的軟體工程師. 主要的工作內容在探索 benchmark 及手機硬體架構對於效能的影響.
  </p>
  
  <p>
  工作之餘, 我喜歡研究一些料理. 週末時我常會挑戰新的菜色, 日常菜色舉凡義大利麵或日式烏龍麵等都有嘗試. 雖然與大廚有一段不小的距離, 但我想人因夢想而偉大. :)
  </p>
  
  <p>
  除此之外我也喜好一些數位週邊裝置的研究, 像是曾有自架過 NAS 伺服器並與 Telegram 的聊天機器人整合. 同時我也很喜歡各式的電玩, 舉凡萌夯或薩爾達都多少有涉獵. 歡迎喜好搞機或有電玩主機的夥伴一起出團.
  </p>
  
  <p>
  最後, 如果我的 github 上有看到任何有趣的東西, 歡迎下載或用 e-mail 與我討論. 如果對我的工作項目有興趣, 也可以參考我的履歷. :)
  </p>
</div>

