<div class="section-title row">
<div class="col-md-12">
<h1>Education</h1>
</div>
</div>
<div class="section-content row">
  <div class="section-item col-md-9">
    <div class="item-title">Master of Electronic Engineering</div>
    <div class="item-subtitle">National Chiao-Tung University &middot; Taiwan</div>
    <div class="item-content">
      <p>
      Publications
      <ul>
        <li>
        Design of Application Specific Throughput Processor for Matrix Operations; <b>Wu, Ping-Ju</b> and Lin, Chien-Yu and Lai, Bo-Cheng Charles
        </li>
        <li>
        A High-Performance Double-Layer Counting Bloom Filter for Multicore Systems; Lai, Bo-Cheng Charles and Chen, Kuan-Ting and <b>Wu, Ping-Ru</b>
        </li>
        <li>
        Reduce Data Coherence Cost with an Area Efficient Double Layer Counting Bloom Filter; Chen, Kuan-Ting and <b>Wu, Ping-Ru</b> and Lai, Bo-Cheng Charles 
        </li>
      </ul>
      </p>
    </div>
  </div>
  <div class="item-date col-md-3">Sep 2012 &ndash; July 2014</div>
</div>

<div class="section-content row">
  <div class="section-item col-md-9">
    <div class="item-title">Bachelor of Electronic Engineering</div>
    <div class="item-subtitle">National Chiao-Tung University &middot; Taiwan</div>
    <div class="item-content">
      <p>
      </p>
    </div>
  </div>
  <div class="item-date col-md-3">Sep 2012 &ndash; July 2014</div>
</div>

