<div class="section-title row">
<div class="col-md-12">
<h1>Education</h1>
</div>
</div>
<div class="section-content row">
  <div class="section-item col-md-9">
    <div class="item-title"><p>ESL / Software Engineer</p></div>
    <div class="item-subtitle">Mediatek &middot; Hsinchu</div>
    <div class="item-content">
      <p>
        Deliver applications and benchmarks analysis on first-class mobile silicon IP. Provide CPU and GPU performance inclinations for competitive analysis of mobile SoC.
      </p>
      <p>
        Engaging product lines:
        <ul>
          <li>
            Helio X Series: Helio X30, Helio X20
          </li>
          <li>
            Heiio P Series: Helio P70, Helio P40, Helio P23
          </li>
          <li>
            Smart TV
          </li>
          <li>
            Advanced Driver Assistance Systems
          </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="item-date col-md-3">Oct 2014 &ndash; Present</div>
</div>
<div class="section-content row">
  <div class="section-item col-md-9">
    <div class="item-title"><p>Teaching Assistance</p></div>
    <div class="item-subtitle">National Chiao-Tung University &middot; Hsinchu</div>
    <div class="item-content">
      <p>
        Design experiments and projects for heterogeneous multi-core system exploration
        <ul>
          <li>
            Computer Architecture, Sep '13
            <ul>
              <li>combination of CPU and GPU computation with OpenCL and pthread</li>
              <li>architecture explore using open source emulator (multi2sim)</li>
            </ul>
          </li>
          <li>
            Computer Organization, Sep '12
          </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="item-date col-md-3">Sep 2012 &ndash; July 2014</div>
</div>
