<div class="section-title row">
<div class="col-md-12">
<h1>Experience</h1>
</div>
</div>
<div class="section-content row">
  <div class="section-item col-md-9">
    <div class="item-title"><p>ESL / Software Engineer</p></div>
    <div class="item-subtitle">Mediatek &middot; Hsinchu</div>
    <div class="item-content">
      <ul>
        <li>Deliver Android benchmarks porting &amp; analysis</li>
      </ul>
      <p>Research on modern multi-core heterogeneous systems and their implementations using software and hardware co-simulation techniques.</p>
    </div>
  </div>
  <div class="item-date col-md-3">Oct 2014 &ndash; Present</div>
</div>
