<div class="section-title row">
<div class="col-md-12">
<h1>Skills</h1>
</div>
</div>
<div class="section-content row">
  <div class="section-item col-md-12">
    <div class="item-title">Programming Languages &amp; Tools</div>
    <div class="item-subtitle">Familiar With</div>
    <div class="item-content">
    <ul class="list-inline">
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-android-plain"></i></div>
          <div class="icon-word">Android</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-linux-plain"></i></div>
          <div class="icon-word">Linux</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-c-plain"></i></div>
          <div class="icon-word">C</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-cplusplus-plain"></i></div>
          <div class="icon-word">C++</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-python-plain"></i></div>
          <div class="icon-word">Python</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">Perl</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-git-plain"></i></div>
          <div class="icon-word">Git</div>
        </div>
      </li>
      {# Generic Icon
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">Git</div>
        </div>
      </li>
      #}
    </li>
    </div>
    <div class="item-subtitle">Have Experience With</div>
    <div class="item-content">
    <ul class="list-inline">
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">CUDA</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">OpenCL</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">OpenGL</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-bootstrap-plain"></i></div>
          <div class="icon-word">Bootstrap</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-html5-plain"></i></div>
          <div class="icon-word">Html5</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-css3-plain"></i></div>
          <div class="icon-word">CSS</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">Tcl/Tk</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <div class="icon-word">Verilog</div>
        </div>
      </li>
      <li>
        <div>
          <div class="icon-box"><i class="devicon devicon-debian-plain"></i></div>
          <div class="icon-word">Debian</div>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div class="section-item col-md-12">
    <div class="item-title">Language</div>
    <div class="item-content">
      <ul>
        <li>Chinese: Native speaker</li>
        <li>English: GEPT, median high level</li>
      </ul>
    </div>
  </div>
</div>

