.profile-image {
  border: 5px solid #cfd8dc;
}

.profile-title {
  font-family: 'Noto Serif', serif;
}

.profile-subtitle {
  font-family: 'Noto Serif', serif;
  color: #555;
  font-size: 3ex;
  padding-bottom: 2ex;
}

.resume_section > .section-content > .section-item > .item-content ,
.profile-content {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2ex;
  color: #777;
  padding-bottom: 2ex;
  text-align: justify;
  /*background: yellow;*/
}

.resume_section {
  width: 100%;
}

.resume_section > .section-title {
  font-size: 5ex;
  text-transform: uppercase;
  /*background: red;*/
}

.resume_section > .section-content > .section-item > .item-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3ex;
}

.resume_section > .section-content > .section-item > .item-subtitle {
  color: #aaa;
  text-transform: uppercase;
  font-size: 2.8ex;
  padding-bottom: 2ex;
}

.resume_section > .section-content {
  padding-bottom: 2ex;
}

.resume_section > .section-content > .item-date {
  color: #999;
  font-size: 2.8ex;
  font-style: italic;
  overflow: visible;
  white-space: nowrap;
  padding-bottom: 0;
  /*background: blue;*/
}

.fa {
  color: #555;
}

section.resume_section {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

div.resume_section {
  /*background: grey;*/
}

div.resume_anchor {
  align-self: flex-start;
  margin-top: -7vh;
}

li.resume_section {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1ex;
}

@media (max-width: 767px) {
    .affix {
        position: static;
    }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 100px 0 75px;
    color: white; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading,
      header.masthead .post-heading,
      header.masthead .site-heading {
        padding: 100px 0; } }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: justify; }
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 50px;
      margin-top: 0; }
    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading h1,
      header.masthead .site-heading h1 {
        font-size: 60px; } }
  header.masthead .post-heading h1 {
    font-size: 35px; }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block; }
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif; }
    header.masthead .post-heading .meta a {
      color: #fff; }
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px; }
    header.masthead .post-heading .subheading {
      font-size: 30px; } }
