{% extends 'profile.html' %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block profile_content %}
<ul class="nav nav-pills">
<li class="active"><a data-toggle="tab" href="#chinese">中文</a></li>
<li><a data-toggle="tab" href="#standard">English</a></li>
</ul>

<div class="tab-content">
<div id="chinese" class="tab-pane fade in active">
  {% include 'about_me/bio_chinese.html' %}
</div>
<div id="standard" class="tab-pane fade">
  {% include 'about_me/bio.html' %}
</div>
</div>

{% include 'social_link.html' %}

{% endblock %}
