{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <!-- navigation -->
    <div class="col-sm-3" {{profile_attr|safe}}>
      <div class="affix">
        <div style="padding-top:4ex; padding-bottom:4ex;">
          <span class="d-none d-lg-block profile-image">
            <img class="profile-image img-circle mx-auto mb-2" src="{{url_for('static', filename='img/HEAD.JPG')}}" alt="">
          </span>
        </div>
        {% block profile_nav %}
        {% endblock %}
      </div>
    </div>

    <!-- content -->
    <div class="col-sm-9">
      {% block profile_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
