<ul class="list-inline list-social-icons mb-0 non-printable">
<li class="list-inline-item">
  <a href="https://www.facebook.com/milksleisure">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li class="list-inline-item">
  <a href="https://github.com/milksleisure/">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li class="list-inline-item">
  <a href="https://www.linkedin.com/in/ping-ru-wu-84802958">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
</ul>

<ul class="print-content">
<li>
  <p>Online resume: http://milksleisure.github.io/resume.html</p>
</li>
<li>
  <p>Github: https://github.com/milksleisure/</p>
</li>
<li>
  <p>Linkedin: https://www.linkedin.com/in/ping-ru-wu-84802958</p>
</li>
</ul>
